body {
  /*background-color: #FFD78A;*/
  font-family: Impact, Charcoal, sans-serif;
  font-size: 16px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container {
  margin: 0 auto;
  padding-top: 50px; }

.important {
  font-weight: bold;
  color: #A40E11; 
text-decoration: underline;
}

.todo_list {
  max-width: 400px;
  display: block;
  margin: 0 auto 40px;
  /*background-color: #1BA39C;*/
  padding: 30px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 10px 0 #074b83;
  box-shadow: 0 2px 10px 0 #074b83; }

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
  font-size: 30px; }

.create_new_todo {
  text-align: center; }

input[type=text] {
  width: 376px;
  padding: 10px; 
 font-family: Impact, Charcoal, sans-serif;
  font-size: 16px;
  border: 2px solid #000;
  }

button {
  margin-top: 10px;
  width: 400px;
  padding: 10px;
  cursor: pointer; }

.todo {
  padding-left: 0; }
  .todo li {
    padding: 1em;
    list-style-type: none; }
    .todo li:not(:last-child) {
      border-bottom: 1px solid #000; }

input[type=checkbox] {
  opacity: 0;
  position: absolute; }

input[type=checkbox], label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer; }

input[type=checkbox] + label:before {
  content: '';
  /*background: #0;*/
  border-radius: 5px;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 10px;
  text-align: center; }

input[type=checkbox]:checked + label:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 5px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-radius: 0;
  margin: 0 15px 5px 5px; }

.button{
  border: 2px solid #000;
  background-color: transparent;
   font-family: Impact, Charcoal, sans-serif;
  font-size: 16px;
}

/*///////////////////////////////////////menu*/

  .menu {
position: absolute;
width: 200px;
padding: 2px;
margin: 0;
border: 1px solid #bbb;
background: #FFF;
/*background: -webkit-linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);*/
/*background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);*/
z-index: 100;
border-radius: 2px;
box-shadow: 1px 1px 4px rgba(0,0,0,.2);
opacity: 0;
-webkit-transform: translate(0, 15px) scale(.95);
transform: translate(0, 15px) scale(.95);
transition: transform 0.1s ease-out, opacity 0.1s ease-out;
pointer-events: none;
}
.menu-item {
display: block;
position: relative;
margin: 0;
padding: 0;
white-space: nowrap;
}
.menu-btn {
background: none;
line-height: normal;
overflow: visible;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
display: block;
width: 100%;
color: #444;
  font-family: Impact, Charcoal, sans-serif;
font-size: 13px;
text-align: left;
cursor: pointer;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 8px;
border-radius: 2px;
}
.menu-btn::-moz-focus-inner,
.menu-btn::-moz-focus-inner {
border: 0;
padding: 0;
}
.menu-text {
margin-left: 25px;
}
.menu-btn .fa {
position: absolute;
left: 8px;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.menu-item:hover > .menu-btn {
color: #fff;
outline: none;
color: #fff;
background-color: #000;
/*background: -webkit-linear-gradient(to bottom, #5D6D79, #2E3940);*/
/*background: linear-gradient(to bottom, #5D6D79, #2E3940);*/
border: 1px solid #2E3940;
}
.menu-item.disabled {
opacity: .5;
pointer-events: none;
}
.menu-item.disabled .menu-btn {
cursor: default;
}
.menu-separator {
display:block;
margin: 7px 5px;
height:1px;
border-bottom: 1px solid #fff;
background-color: #aaa;
}
.menu-item.submenu::after {
content: "";
position: absolute;
right: 6px;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
border: 5px solid transparent;
border-left-color: #808080;
}
.menu-item.submenu:hover::after {
border-left-color: #fff;
}
.menu .menu {
top: 4px;
left: 99%;
}
.show-menu,
.menu-item:hover > .menu {
opacity: 1;
-webkit-transform: translate(0, 0) scale(1);
transform: translate(0, 0) scale(1);
pointer-events: auto;
}
.menu-item:hover > .menu {
-webkit-transition-delay: 100ms;
transition-delay: 300ms;
}

.edit{
  display: none;
}